<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<target>System.err</target>
		<encoder>
			<pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] [%X{runId}] [%X{executionId}] %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="${AUTOTEST_LOG_LEVEL:-INFO}">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
